<div class="sidebar">
    <div class="">
        <a {{#if (active_project request.spin-full-url "/v3/index" )}} class="active" {{/if}} href="{{site.info.base_url}}/index">What is Spin</a>

        <h4 for="rd0" class="menu-label">Getting Started</h4>
        <a {{#if (active_project request.spin-full-url "/v3/quickstart" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/quickstart">Quickstart</a>
        <a {{#if (active_project request.spin-full-url "/v3/install" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/install">Install</a>
        <a {{#if (active_project request.spin-full-url "/v3/upgrade" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/upgrade">Upgrade</a>

        <h4 for="rd0" class="menu-label">Applications</h4>

        <a {{#if (active_project request.spin-full-url "/v3/writing-apps" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/writing-apps">Creating Apps</a>
        <a {{#if (active_project request.spin-full-url "/v3/spin-application-structure" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/spin-application-structure">Application Structure</a>
        <a {{#if (active_project request.spin-full-url "/v3/build" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/build">Building</a>
        <a {{#if (active_project request.spin-full-url "/v3/running-apps" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/running-apps">Running</a>
        <hr>
        <a {{#if (active_project request.spin-full-url "/v3/testing-apps" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/testing-apps">Testing</a>
        <a {{#if (active_project request.spin-full-url "/v3/observing-apps" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/observing-apps">Observability</a>
        <a {{#if (active_project request.spin-full-url "/v3/troubleshooting-application-dev")}} class="active" {{/if}} href="{{site.info.base_url}}/v3/troubleshooting-application-dev">Troubleshooting</a>
        <hr>
        <a {{#if (active_project request.spin-full-url "/v3/dynamic-configuration" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/dynamic-configuration">Runtime Configuration</a>

        <h4 for="rd0" class="menu-label">Triggers</h4>

        <a {{#if (active_project request.spin-full-url "/triggers" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/triggers">Overview</a>
        <a {{#if (active_project request.spin-full-url "/v3/http-trigger" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/http-trigger"> HTTP Trigger</a>
        <a {{#if (active_project request.spin-full-url "/v3/redis-trigger" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/redis-trigger"> Redis Trigger</a>
        <a {{#if (active_project request.spin-full-url "/v3/redis-trigger" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/triggers#cron-trigger">Cron Trigger</a>

        <h4 for="rd0" class="menu-label">Feature API</h4>
        
        <a {{#if (active_project request.spin-full-url "/v3/http-outbound" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/http-outbound">Making HTTP Requests</a>
        <a {{#if (active_project request.spin-full-url "/v3/kv-store-api-guide" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/kv-store-api-guide">Key Value Store</a>
        <a {{#if (active_project request.spin-full-url "/v3/sqlite-api-guide" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/sqlite-api-guide">SQLite Database</a>
        <a {{#if (active_project request.spin-full-url "/v3/mqtt-outbound" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/mqtt-outbound">MQTT Messaging</a>
        <a {{#if (active_project request.spin-full-url "/v3/redis-outbound" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/redis-outbound">Redis Storage</a>
        <a {{#if (active_project request.spin-full-url "/v3/rdbms-storage" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/rdbms-storage">Relational Databases</a>
        <a {{#if (active_project request.spin-full-url "/v3/serverless-ai-api-guide" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/serverless-ai-api-guide">Serverless AI</a>
        <a {{#if (active_project request.spin-full-url "/v3/variables" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/variables">Variables</a>
        <hr>
        <a {{#if (active_project request.spin-full-url "/v3/api-guides-overview" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/api-guides-overview">Feature Support</a>

        <h4 for="rd0" class="menu-label">Language Guides</h4>

        <a {{#if (active_project request.spin-full-url "/v3/rust-components" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/rust-components">Rust</a>
        <a {{#if (active_project request.spin-full-url "/v3/go-components" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/go-components">Go</a>
        <a {{#if (active_project request.spin-full-url "/v3/javascript-components" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/javascript-components">Javascript</a>
        <a {{#if (active_project request.spin-full-url "/v3/python-components" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/python-components">Python</a>
        <hr>
        <a {{#if (active_project request.spin-full-url "/v3/language-support-overview" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/language-support-overview">Language Support</a>
        <a {{#if (active_project request.spin-full-url "/v3/other-languages" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/other-languages">Other Languages</a>

        <h4 for="rd0" class="menu-label">Deployment</h4>
        
        <a {{#if (active_project request.spin-full-url "/v3/deploying" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/deploying">Deployment Options</a>
        <a href="https://spinkube.dev">SpinKube<img src="{{site.info.base_url}}/static/image/arrowexternal.svg" width="15" height="15"></a>
        <a {{#if (active_project request.spin-full-url "/v3/distributing-apps" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/distributing-apps">Publishing to Registries</a>

    <div class="accordion-menu-item" style="display: none;">
        <input type="checkbox" id="rd5" name="rd">
        <label for="rd5" class="accordion-menu-item-label menu-label">
            Tutorials
        </label>
        <ul class="menu-list accordion-menu-item-content">
            <li><a {{#if (active_project request.spin-full-url "/v3/serverless-ai-hello-world" )}} class="active"
                    {{/if}} href="{{site.info.base_url}}/v3/serverless-ai-hello-world.md">Build Your
                    First
                    Serverless AI App</a></li>
            <li><a {{#if (active_project request.spin-full-url "/v3/ai-sentiment-analysis-api-tutorial" )}}
                    class="active" {{/if}} href="{{site.info.base_url}}/v3/ai-sentiment-analysis-api-tutorial">Sentiment
                    Analysis With Serverless AI</a></li>
            <li><a {{#if (active_project request.spin-full-url "/v3/url-shortener-tutorial" )}} class="active" {{/if}}
                    href="{{site.info.base_url}}/v3/url-shortener-tutorial">Building a URL
                    Shortener With Spin</a></li>
            <li><a {{#if (active_project request.spin-full-url "/v3/registry-tutorial" )}} class="active" {{/if}}
                    href="{{site.info.base_url}}/v3/registry-tutorial">Spin Apps in
                    Registries</a></li>
            <li><a {{#if (active_project request.spin-full-url "/v3/key-value-store-tutorial" )}} class="active" {{/if}}
                    href="{{site.info.base_url}}/v3/key-value-store-tutorial">Spin
                    Key-Value Store</a></li>
        </ul>
    </div>

    <h4 for="rd0" class="menu-label">Tools</h4>

    <a {{#if (active_project request.spin-full-url "/v3/managing-plugins" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/managing-plugins">Managing Plugins</a>
    <a {{#if (active_project request.spin-full-url "/v3/managing-templates" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/managing-templates">Managing Templates</a>

    <h4 for="rd0" class="menu-label">Reference</h4>

    <a {{#if (active_project request.spin-full-url "/v3/manifest-reference" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/manifest-reference">Configuring <code>spin.toml</code></a>

    <h4 for="rd0" class="menu-label">Project</h4>

    <a {{#if (active_project request.spin-full-url "/v3/cache" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/cache">Internal Data &amp; Caching</a>

    <div style="margin: 1.25rem auto">
        <hr>
    </div>

    <a {{#if (active_project request.spin-full-url "/v3/plugin-authoring" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/plugin-authoring">Creating Spin Plugins</a>
    <a {{#if (active_project request.spin-full-url "/v3/template-authoring" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/template-authoring">Creating Spin Templates</a>
    <a href="https://github.com/spinframework/spin/blob/main/docs/content/sips/index.md" target="_blank">Spin Improvement Proposals <img src="{{site.info.base_url}}/static/image/arrowexternal.svg" width="15" height="15"></a>
    <a {{#if (active_project request.spin-full-url "/v3/extending-and-embedding" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/extending-and-embedding">Custom Triggers</a>

    <hr>

    <a {{#if (active_project request.spin-full-url "/v3/contributing-spin" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/contributing-spin">Contributing to Spin</a>
    <a {{#if (active_project request.spin-full-url "/v3/contributing-docs" )}} class="active" {{/if}} href="{{site.info.base_url}}/v3/contributing-docs">Contributing Documentation</a>

</div>

<div class="button-wrap">
    <a href="{{page.head.extra.url}}" class="button is-round is-primary is-outlined is-size-6 is-medium">
        <svg width="1rem" height="1rem" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <title>This page is editable via GitHub</title>
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M16 0C7.16 0 0 7.16 0 16C0 23.08 4.58 29.06 10.94 31.18C11.74 31.32 12.04 30.84 12.04 30.42C12.04 30.04 12.02 28.78 12.02 27.44C8 28.18 6.96 26.46 6.64 25.56C6.46 25.1 5.68 23.68 5 23.3C4.44 23 3.64 22.26 4.98 22.24C6.24 22.22 7.14 23.4 7.44 23.88C8.88 26.3 11.18 25.62 12.1 25.2C12.24 24.16 12.66 23.46 13.12 23.06C9.56 22.66 5.84 21.28 5.84 15.16C5.84 13.42 6.46 11.98 7.48 10.86C7.32 10.46 6.76 8.82 7.64 6.62C7.64 6.62 8.98 6.2 12.04 8.26C13.32 7.9 14.68 7.72 16.04 7.72C17.4 7.72 18.76 7.9 20.04 8.26C23.1 6.18 24.44 6.62 24.44 6.62C25.32 8.82 24.76 10.46 24.6 10.86C25.62 11.98 26.24 13.4 26.24 15.16C26.24 21.3 22.5 22.66 18.94 23.06C19.52 23.56 20.02 24.52 20.02 26.02C20.02 28.16 20 29.88 20 30.42C20 30.84 20.3 31.34 21.1 31.18C27.42 29.06 32 23.06 32 16C32 7.16 24.84 0 16 0V0Z"
                fill="#24292E" />
        </svg>
        Edit this page
    </a>
</div>